body {
    font-size: 14px;
}

ol, ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal;
}

#top, #main, #foot {
    min-width:960px;
    padding-left:1.5em;
    padding-right:1.5em;
}

#top {
    background:black url(../images/layout/top-bg.png) repeat-x scroll 0 0;
    clear:both;
    height:55px;
    overflow:hidden;
    padding-bottom:20px;
    padding-top:30px;
    position:relative;
}

#logo {
    background:transparent url(../images/layout/logoWeb.png) no-repeat scroll left center;
    height:55px;
    left:50%;
    margin:0 0 0 -483px;
    position:absolute;
    width:291px;
}

#logo a {
    display:block;
    height:55px;
    margin:0;
    opacity:0;
    width:291px;
}

#nav {
    background:transparent url(../images/layout/nav-bg-left.png) no-repeat scroll left top;
    height:55px;
    left:50%;
    margin-left:-100px;
    min-width:600px;
    overflow:hidden;
    position:absolute;
    width:100%;
}

#nav ul {
    background:transparent url(../images//layout/nav-bg-right.png) repeat-x scroll left top;
    clear:both;
    height:55px;
    margin-left:15px;
    position:relative;
}

#nav li {
    float:left;
    height:29px;
    margin-left:15px;
    margin-top:20px;
    position:relative;
    text-transform: uppercase;
    z-index:99;
}

#nav li a {
    color:white;
    font-size:14px;
    padding:0px 9px;
    text-decoration:none;
}

h1, h2, h3, h4 {
    margin:10px 0;
}

h1, h2, h3, h4, a:link, a:visited, a:hover {
    color:#910E02;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}

h1 {
    font-size:123.1%;
    text-transform:uppercase;
}

#foot {
    background:#000000 none repeat scroll 0 0;
    border-top:10px solid #CDCED3;
    color:#5D696B;
    overflow:auto;
    padding-bottom:10px;
    padding-top:20px;
    text-align:left;
    margin-left: 0px;
    margin-top: 2em;
}

#foot .extrapad {
    padding:0 12px 0 7px;
}

#foot img {
    border:5px solid #CCCCCC;
    margin:5px 10px 5px 0;
}

#foot a {
    color:#AC0D00;
    text-decoration:none;
}

#foot a:hover {
    color:#660000;
    text-decoration:underline;
}

#foot p strong {
    color:#EEF3F5;
}

#foot h1, #foot h2, #foot h3, #foot h4, #foot h5, #foot h6 {
    color:#EEF3F5;
    letter-spacing:1px;
}

/* Extend footer to bottom */
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -11em;
}

.foot, .push {
    height: 11em;
}

.main {
    background: #FFFFFF url(../images/layout/bg-homepage.jpg) repeat-x scroll 50% 0;;
}

/*  Tech Toolbox */
.techToolbox {
    background-color: #C1D6DC;
    margin-top: 5px;
}

.techToolbox h1, .techToolbox li {
    padding-left: 10px;
    padding-right: 10px;
}

.techToolbox li {
    margin-left: 5px;
    font-size: 95%;
}

.box {
    background: #C1D6DC; 
}
.toolboxtop {
/*    background: url(../images/tbne.gif) no-repeat top right; */
}
.toolboxtop div {
    font-size: 0;
    height: 10px;
    background: url(../images/tbnw.gif) no-repeat top left; 
}
.toolboxbottom { 
/*  background: url(../images/tbse.gif) no-repeat bottom right; */
}
.toolboxbottom div { 
  font-size: 0;
  height: 10px; 
  background: url(../images/tbsw.gif) no-repeat bottom left; 
}
.toolboxcontent {
  padding: 0px 10px 0px 10px;
  height: 17em;
}

/* Portfolio */
.portfolio img {
    float: left;
    margin-right: 10px;
}

/* Contact Us */
.contactUsForm input, .contactUsForm textArea {
    margin: 10px 0;
}

.contactUsForm input {  
    width: 250px;
}

.contactUsForm textArea {  
    width: 500px;
    height: 300px;
}

/* MESSAGES AND ERRORS */

.message {
    /*background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;*/
    background: #C1D6DC;
    border: 1px solid #b2d1ff;
    /*color: #006dba;*/
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
